<div class="section article-section">
          <div class="container">
            <article>
<!--               {{ pages.privacy-policy.content }} -->
           {{ pages_privacy-policy_content }}
            </article>
          </div>
        </div>
</div>
