<div class="section article-section">
          <div class="container">
            <article>
              {{ pages.privacy-policy.content }}
            </article>
          </div>
        </div>
</div>
