<!-- container -->
<!-- 	<div id="container"> -->
<!-- banner -->
      <div id="banner">
        {% for block in section.blocks %}
         {% case block.type %}
          {% when 'image' %}
            <figure class="figure1">
              <img src="{{ block.settings.image | image_url }}" alt="img">
            </figure>
         {% endcase %}
        {% endfor %}
        
        {% for block in section.blocks %}
         {% case block.type %}
          {% when 'text' %}
            <div class="description">
              <div class="container">
                <h1 class="display-2">{{ block.settings.text }}</h1>
              </div>
            </div>
        {% endcase %}
       {% endfor %}
      </div>
<!-- /banner -->



{% schema %}
  {
    "name": "Banner with Text",
    "settings": [],
	"blocks": [
		{
			"type": "image",
			"name": "image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		},
		{
			"type": "text",
			"name": "text",
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"label": "Text"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Banner with Text",
			"blocks": [
				{
					"type": "image"
				},
				{
					"type": "text"
				}
			]
		}
	]
  }
{% endschema %}