<!-- container -->
<!-- 	<div id="container"> -->
<!-- banner -->
      <div id="banner">
        <figure class="figure1">
        {% for block in section.blocks %}
         {% case block.type %}
          {% when 'image' %}
              <img src="{{ block.settings.image | image_url }}" alt="img">
         {% endcase %}
        {% endfor %}
        </figure>
        <div class="description">
          <div class="container">
        {% for block in section.blocks %}
         {% case block.type %}
          {% when 'text' %}
                <h1 class="display-2">{{ block.settings.text }}</h1>
        {% endcase %}
       {% endfor %}
        </div>
       </div>
      </div>
<!-- /banner -->



{% schema %}
  {
    "name": "Banner with Text",
    "settings": [],
	"blocks": [
		{
			"type": "image",
			"name": "t:sections.demo_banner.blocks.image.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		},
		{
			"type": "text",
			"name": "t:sections.demo_banner.blocks.text.name",
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"label": "Text"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Banner with Text",
			"blocks": [
				{
					"type": "image"
				},
				{
					"type": "text"
				}
			]
		}
	]
  }
{% endschema %}