 <!-- footer -->
      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 column mb-md-0">
              <div class="logo">
                <a href="#"><img src="{{ logo-green.svg | asset_url }}" alt="logo"></a>
              </div>
            </div>
            <div class="col-xl-7 col-md-9 column mb-md-0 nav-wrapper">
              <ul>
                <li><a href="#">about</a></li>
                <li><a href="#">SUSTAINABLE AQUACULTURE</a></li>
                <li><a href="#">OUR PORTFOLIO</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">privacy policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
<!-- /footer -->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
