<!-- header -->
      <header id="header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-auto col-8">
              <div class="logo">
                <a href="{{ page.index.url }}"><img src="{{ 'logo.svg' | asset_url }}" alt="logo"></a>
              </div>
            </div>
            <div class="col-lg col-4">
              <button class="menu-btn d-lg-none">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <nav id="main-navigation">
                <div class="scrollable-content">
                  <ul class="menu">
          
                    {% for link in section.settings.menu.links %}
                    	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                
          
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
<!-- /header -->


{% schema %}
  {
    "name": "Header",
    "settings": [
		{
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu"
    }
	]
  }
{% endschema %}