<!-- container -->
	<div id="container">
<!-- banner -->
      <div id="banner">
        <figure class="figure1">
          <img src="{{ section.settings.main-banner | image_url }}" alt="img">
        </figure>
        <div class="description">
          <div class="container">
            <h1 class="display-2">{{ section.settings.main-banner-heading }}</h1>
          </div>
        </div>
      </div>
<!-- /banner -->


{% schema %}
  {
    "name": "Main Banner",
    "settings": [
		{
			"id": "main-banner",
			"type": "image_picker",
			"label": "Main Banner"
		},
		{
			"id": "main-banner-heading",
			"type": "textarea",
			"label": "Main Banner Heading"
		}
	]
  }
{% endschema %}