<h1 style="color: black;">All Collections</h1>
{% for collection in collections %}
	<h3>{{collection.title}}</h3>
	<a href="{{ collection.url }}"><img src="{{ collection.featured_image | image_url }}" ></a>
{% endfor %}

{% schema %}
  {
    "name": "List Collections",
    "settings": []
  }
{% endschema %}
