<div id="content">
        <!-- section -->
        <div class="section">
          <div class="container py-xl-5">
            <article class="post">
              <span class="meta">03 NOVEMBER 2021</span>
              <h2>Orkney Shellfish Hatchery’s Managing Director to speak at European oyster conference following disease-testing success</h2>
              <p><strong> Orkney, UK (10 November 2021) –</strong> Orkney Shellfish Hatchery, the multi-species aquaculture hatchery supplying premium shellfish products to the restoration market, has announced that its Managing Director, Dr Nik Sachlikidis, has been selected to speak at the NORA 4 Conference later this month, after the hatchery achieved a substantial breakthrough in disease-screening for native flat oysters.</p>
              <figure>
                <img src="images/image4.jpg" alt="img">
                <figcaption> Dr Nik Sachlikidis </figcaption>
              </figure>
              <p>The conference, which is run by the Native Oyster Restoration Alliance, spans three days and includes presentations from a range of expert speakers. Dr Sachlikidis’ presentation will focus on the ‘Development of screening techniques for Bonamia to improve biosecurity and ensure disease free status for commercial shellfish hatcheries’ following success in using a non-destructive process to screen native flat oysters, the hatchery’s primary species, for the lethal Bonamia pathogen.</p>
              <p>Orkney Shellfish Hatchery worked alongside aquaculture genetics specialist Xelect on the project, which announced the breakthrough in June of this year. The innovation uses a highly sensitive DNA test to sample the waters oysters live in to identify the presence of the pathogen, with no need for the oysters to leave the hatchery whilst testing takes place or be destroyed post-testing.</p>
              <p>Commenting ahead of the conference, Dr Nik Sachlikidis, who is also Managing Director of hatchery technology developer, Ocean On Land Technology and BVI-based spiny lobster producer, Caribbean Sustainable Fisheries said: “With the help of the Xelect team, 2021 has seen Orkney Shellfish Hatchery achieve a major breakthrough in the hatchery management of the long-researched disease of Bonamia ostreae, a parasitic infection that is lethal to shellfish. This innovation takes some amazing recent academic work and applies it to the commercial hatchery setting. Ultimately, this process allows us as a hatchery to manage our broodstock more effectively to control for Bonamia in seed production and is an enormous step forward in the production of disease-free native oyster seed. Being given the opportunity to share the news and details of this breakthrough on an international stage at the NORA 4 Conference is an honour and I look forward to sharing our team’s work on this critical topic with the wider scientific community.”</p>
              <p>The news of Dr Sachlikidis’ presentation comes after the hatchery announced its first release of native flat oyster spat into the Scottish seas earlier this month, in line with its ambition to provide the highest quality flat oyster spat to the restoration market.</p>
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et repellendus nihil ullam, quos quis, nobis labore nulla, doloremque numquam consectetur ipsam perspiciatis quod sunt eligendi hic nostrum facere aspernatur modi.</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et repellendus nihil ullam, quos quis, nobis labore nulla, doloremque numquam consectetur ipsam perspiciatis quod sunt eligendi hic nostrum facere aspernatur modi.</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et repellendus nihil ullam, quos quis, nobis labore nulla, doloremque numquam consectetur ipsam perspiciatis quod sunt eligendi hic nostrum facere aspernatur modi.</li>
              </ul>
              <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, adipisci culpa illum libero eos sit odit explicabo debitis ad quibusdam eaque optio consequuntur alias blanditiis animi eligendi reprehenderit! Aspernatur, voluptas.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, adipisci culpa illum libero eos sit odit explicabo debitis ad quibusdam eaque optio consequuntur alias blanditiis animi eligendi reprehenderit! Aspernatur, voluptas.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, adipisci culpa illum libero eos sit odit explicabo debitis ad quibusdam eaque optio consequuntur alias blanditiis animi eligendi reprehenderit! Aspernatur, voluptas.</li>
              </ol>
              <p>The NORA 4 Conference will take place online between the 23rd and 25th November. Please visit <a href="#">https://noraeurope.eu/nora-4/</a> for more information.</p>
            </article>
          </div>
        </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}