<div id="content">
        <!-- section -->
        <div class="section">
          <div class="container py-xl-5">
            <article class="post">
              <span class="meta">03 NOVEMBER 2021</span>
              {{ article.content }}
            </article>
          </div>
        </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}