<div id="content">
        <!-- section -->
        <div class="section">
          <div class="container py-xl-5">
            <article class="post">
              <span class="meta">{{ article.created_at | date: '%d %B %Y' }}</span>
              <h2>{{ article.title }}</h2>
              {{ article.content }}
            </article>
          </div>
        </div>
</div>

{% for product in products %}
	{{ product.title }}
{% endfor %}