{% for product in products %}
	<h3>{{product.title}}</h3>
	<a href="{{ product.url }}"><img src="{{ product.featured_image | image_url }}" ></a>
{% endfor %}


{% schema %}
  {
    "name": "Collection",
    "settings": []
  }
{% endschema %}
