<!-- content -->
      <div id="content">
        <!-- section -->
        <div class="section news-wrapper pb-md-0">
          <div class="container">
            <header class="section-header pb-xl-5">
              <h1 class="display-3 fw-normal">{{ section.settings.heading }}</h1>
            </header>
            <div class="row">
              <div class="col-md-6 column">
                <article class="card1">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/image1.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">10 NOVEMBER 2021</span>
                      <p>Orkney Shellfish Hatchery’s Managing Director to speak at European oyster conference following disease-testing success</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 column">
                <article class="card1">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/image3.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">03 NOVEMBER 2021</span>
                      <p>Orkney Shellfish Hatchery’s first stock of native flat oyster spat released into Scottish seas</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news1.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">27 OCTOBER 2021</span>
                      <p>Orkney Shellfish Hatchery secures Scottish educational grant </p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news2.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">11 MARCH 2021</span>
                      <p>Ocean On Land Technology achieves increase in European clawed lobster survival rates</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news3.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">04 MARCH 2021</span>
                      <p>Ocean On Land Technology products used at the UK’s first native oyster restoration research hatchery</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news4.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">18 FEBRUARY 2021</span>
                      <p>Orkney Shellfish Hatchery sees first lobster hatchings</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news5.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">04 MARCH 2021</span>
                      <p>Ocean On Land Technology products to be used in Norweigan university crayfish trial</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news6.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">14 OCTOBER 2020</span>
                      <p>Orkney Shellfish Hatchery successfully cultures native flat oysters on land</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news7.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">30 SEPTEMBER 2020</span>
                      <p>Orkney Shellfish Hatchery announces plans for the on-land production of clawed lobster </p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news8.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">19 AUGUST 2020</span>
                      <p>Orkney Shellfish Hatchery on course for the on-land production of native flat oysters</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4 column">
                <article class="card1 small">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/news9.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">15 JULY 2020</span>
                      <p>Cadman Capital Group drives aquaculture portfolio growth with senior appointments</p>
                    </div>
                  </a>
                </article>
              </div>
            </div>
          </div>
        </div>
</div>


{% schema %}
  {
    "name": "Heading",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading"
		}
	]
  }
{% endschema %}