<!-- section -->
        <div class="section">
          <div class="container py-xl-5">
            <header class="section-header">
              <h2 class="display-3 fw-normal">{{ section.settings.heading }}</h2>
            </header>
            <div class="row align-items-center">
              <div class="col-md-6 pe-xl-5 column mb-md-0">
                <article class="card1">
                  <a href="#">
                    <figure class="figure1">
                      <img src="images/image1.jpg" alt="img">
                    </figure>
                    <div class="description">
                      <span class="meta">10 NOVEMBER 2021</span>
                      <p>Orkney Shellfish Hatchery’s Managing Director to speak at European oyster conference following disease-testing success</p>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-md-6 ps-xl-5 column mb-0">
                <ul class="list1">
                  <li>
                    <span class="meta">03 NOVEMBER 2021</span>
                    <a href="#">
                      <p>Orkney Shellfish Hatchery’s first stock of native flat oyster spat released into Scottish seas</p>
                    </a>
                  </li>
                  <li>
                    <span class="meta">27 OCTOBER 2021</span>
                    <a href="#">
                      <p>Orkney Shellfish Hatchery secures Scottish educational grant</p>
                    </a>
                  </li>
                  <li>
                    <span class="meta">11 MARCH 2021</span>
                    <a href="#">
                      <p>Ocean On Land Technology achieves increase in European clawed lobster survival rates</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
<!-- /section -->

hello

{% assign article = articles['myblogs'] %}
{{ article.title | link_to: article.url }}


{% schema %}
  {
    "name": "News Section",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading"
		}
	],
	"presets": [
		{
			"name": "News Section"
		}
	]
  }
{% endschema %}