<!--section -->
        <div class="section pb-lg-0">
          <div class="container">
            <header class="section-header text-start">
              <h2>{{ section.settings.heading }}</h2>
            </header>
            <div class="row">
              <div class="col-lg-4 col-md-6 people">
                <figure class="figure1">
                  <img src="images/team1.jpg" alt="img">
                </figure>
                <div class="description">
                  <h4>James Dinsdale</h4>
                  <p class="designation">CEO</p>
                  <p>With over 15 years executive success across multiple sectors and organizational sizes, James has considerable experience of operational execution, as well as expertise in M&A, due diligence and value creation. He has held senior roles at several well-known businesses including phs Group, Travis Perkins, CHEP and G4S. Additionally, he has most recently spent several years consulting in the Private Equity space. James oversees the day-to-day running of the Group, as well as managing the deployment of investment capital into UK entities.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 people">
                <figure class="figure1">
                  <img src="images/team2.jpg" alt="img">
                </figure>
                <div class="description">
                  <h4>John Percival</h4>
                  <p class="designation">Finance Director</p>
                  <p>Underpinned by his extensive experience in financial management and the knowledge gained through his previous roles at a range of global companies including XPO, Joules, Paperlinx and Fisher Scientific, John joined the Group in 2019 to implement improved financial control systems across the business. His primary focuses are on financial reporting, fund reporting for the Real Estate and Food and Beverages portfolios, the financial integration of the UK acquired businesses and ensuring fiscal discipline throughout. His skills in negotiation, business planning, management and operations make him a core part of the Group’s leadership team.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 people">
                <figure class="figure1">
                  <img src="images/team3.jpg" alt="img">
                </figure>
                <div class="description">
                  <h4>Dr Nik Sachlikidis </h4>
                  <p class="designation">Managing Director of Aquaculture</p>
                  <p>Nik is one of the world’s leading aquaculture and fisheries experts, bringing more than 20 years of practical experience in the government and commercial fisheries and aquaculture sectors. He has previously held a range of scientific leadership roles in industry-science based partnerships focused on the development of lobster aquaculture techniques and technology and has worked in aid programs throughout South-East Asia. Nik was hired by American restaurant-giant Darden to lead the build and operation of a lobster hatchery in Malaysia and was later appointed Director of Science for the group. In his role at Sustainable Food Enterprises, Nik is responsible for the implementation of the sustainability agenda and strategy, with the development of additional aquaculture products, farms, and hatcheries as a priority.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 people">
                <figure class="figure1">
                  <img src="images/team4.jpg" alt="img">
                </figure>
                <div class="description">
                  <h4>Dr Matthew Johnston </h4>
                  <p class="designation">R&D Director</p>
                  <p>Matthew has over two decades of global aquaculture experience, including extensive knowledge and understanding of developing sustainable and eco-friendly nutrition and feed development solutions for the industry.</p>
                  <p>After completing his academic work, Matthew joined MG Kallis, a leader in the Australian seafood industry in the company’s Lobster Harvest division, where he worked on diet development for both slipper and tropical spiny lobsters and also supported the growth of the company’s Southeast Asian pilot farm. Matthew played a pivotal role as Lobster Harvest became the first company to solve the breeding cycle of the tropical spiny lobster and breed F1 generation lobsters.</p>
                  <p>At Sustainable Food Enterprises, Matthew’s primary focus is to lead the expansion of our research and development commitments, as we look to increase our product ranges, achieve breakthroughs in and further diversify our portfolio.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 people">
                <figure class="figure1">
                  <img src="images/team5.jpg" alt="img">
                </figure>
                <div class="description">
                  <h4>Owain Wynn-Jones</h4>
                  <p class="designation">Commercial Director</p>
                  <p>Having completed undergraduate studies in Zoology, Owain went on to obtain his Master of Science in Aquaculture and Development, before beginning his career in the aquaculture sector. Through his previous roles including Head of Market Development at Offshore Shellfish, Operations Manager at Southern Aqua and Assistant Scientist at Environment Agency, Owain has developed a solid understanding of the sector at a global scale, from both a scientific and market perspective.</p>
                  <p>In his role as Commercial Director, Owain is focused on accelerating growth across the entire aquaculture portfolio, implementing and executing strategies with an aim of achieving the objectives of each of the individual businesses, as well as the goals of Sustainable Food Enterprises as a whole.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--/section -->


{% schema %}
  {
    "name": "Our Team",
    "settings": [
		{
			"id": "heading",
			"type": "text",	
			"label": "Heading"
		}
	],
	"blocks": [
		{
		"name": "Add Member",
		"type": "member",
		"settings": [
			{
              "id": "image",
              "type": "image_picker",	
              "label": "Image"
			},
			{
              "id": "name",
              "type": "text",	
              "label": "Name"
			},
			{
              "id": "post",
              "type": "text",	
              "label": "Post"
			},
			{
              "id": "content",
              "type": "richtext",	
              "label": "Content"
			}
		]
		}
	],
	"presets": [
		{
			"name": "Our Team"
		}
	],
	"templates": ["page"]
  }
{% endschema %}
