<!--section -->
        <div class="section pt-0">
          <div class="container">
            <header class="section-header text-start">
              <h2>{{ section.settings.heading }}</h2>
            </header>
            <ul class="progress-list">
              
              <li>
                <span class="year">2005</span>
                <h5>Entry into the Aquaculture Market</h5>
                <p>The Cadman Capital Group officially entered the aquaculture market in 2005 with the creation of Caribbean Sustainable Fisheries - a land-based spiny lobster farm located in the British Virgin Islands.</p>
              </li>
              
            </ul>
          </div>
        </div>
<!-- /section -->




{% schema %}
  {
    "name": "Our History",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"name": "Text",
			"type": "text",
			"settings": [

			]
		},
		{
			"name": "Image",
			"type": "image",
			"settings": [

			]
		}
	],
	"presets": [
		{
			"name": "Our History",
			"blocks": [
				{
					"type": "text"
				},
				{
					"type": "image"
				}
			]
		}
	],
	"templates": ["page"]
  }
{% endschema %}