<!--section -->
        <div class="section pt-0">
          <div class="container">
            <header class="section-header text-start">
              <h2>{{ section.settings.heading }}</h2>
            </header>
            <ul class="progress-list">
              {% for block in section.blocks %}
                {% case block.type %}
              	  {% when 'year' %}
                    <li>
                      <span class="year">{{ block.settings.year }}</span>
                      <h5>{{ block.settings.heading }}</h5>
                      {{ block.settings.content }}
                    </li>
              	 {% endcase %}
              {% endfor %}
            </ul>
          </div>
        </div>
<!-- /section -->




{% schema %}
  {
    "name": "Our History",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"name": "Add Year",
			"type": "year",
			"settings": [
				{
                  "id": "year",
                  "type": "text",
                  "label": "Year"
				},
				{
                  "id": "heading",
                  "type": "text",
                  "label": "Heading"
				},
				{
                  "id": "content",
                  "type": "richtext",
                  "label": "Content"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Our History"
		}
	],
	"templates": ["page"]
  }
{% endschema %}