<!-- section -->
        <div class="section pb-3 pb-md-5">
          <div class="container our-mission">
            <div class="row">
              <div class="col-md-4 mb-3 mb-md-0">
                <h2>{{ section.settings.title }}</h2>
              </div>
              <div class="col-md-8">
                <blockquote class="blockquote">
                  <p>“{{ section.settings.heading }}”</p>
                </blockquote>
                {{ section.settings.content }}
                <div class="author">
                  <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3 mb-3 mb-md-0">
                      <figure>
                        <img src="images/image5.png " alt="img ">
                      </figure>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p>- Dr Nik Sachlikidis, Managing Director of Aquaculture</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--/section -->

{% schema %}
  {
    "name": "Our Mission",
    "settings": [
		{
			"id": "title",
			"type": "text",
			"label": "Title"
		},
		{
			"id": "heading",
			"type": "textarea",
			"label": "Heading"
		},
		{
			"id": "content",
			"type": "richtext",
			"label": "Content"
		}
	],
	"presets": [
		{
			"name": "Our Mission"
		}
	],
	"templates": ["page"]
  }
{% endschema %}