<div class="col-md-6 column mb-md-0">
                  <div class="inner-wrapper">
                    <span class="values">39%</span>
                    <p>Growth in global aquaculture production from 2009 to 2019<br> - FAO</p>
                  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

