<!-- section -->
        <div class="section pb-0">
          <div class="container">
            <div class="row flex-row-reverse">
              <div class="col-md-5 ps-xl-4">
                {% for block in section.blocks %}
                	{% case block.type %}
                		{% when 'image' %}
                          <figure class="column mb-lg-5">
                            <img src="{{ block.settings.image | image_url }}" alt="img">
                          </figure>
                	{% endcase %}
                {% endfor %}
              </div>
              <div class="col-md-7 pe-xl-4">
                <article>
                  {{ section.settings.content }}
                </article>
              </div>
            </div>
          </div>
        </div>
<!-- /section -->

{% schema %}
  {
    "name": "Sustainable Content",
    "settings": [
		{
			"id": "content",
			"type": "richtext",
			"label": "Content"
		}
	],
	"blocks": [
		{
			"name": "Image",
			"type": "image",
			"settings": [
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
		}
	],
	"presets": [
		{
			"name": "Sustainable Content"
		}
	],
	"templates": ["page"]
  }
{% endschema %}