{{ collections.cars.products.car-1 }}

<!-- section -->
        <div class="section pb-lg-5">
          <div class="container text-center">
            <header class="mb-4 pb-lg-1">
              <h2 class="text-primary">{{ section.settings.heading }}</h2>
            </header>
            <div class="px-xl-4">
              {{ section.settings.text }}
              <a href="#" class="btn btn-outline-primary">{{ section.settings.button }}</a>
            </div>
          </div>
        </div>
<!-- /section -->



{% schema %}
    {
        "name": "Welcome",
		"settings": [
			{
				"type": "text",
				"id": "heading",
				"label": "Heading"
			},
			{
				"type": "richtext",
				"id": "text",
				"label": "Text"
			},
			{
				"type": "text",
				"id": "button",
				"label": "Button Label"
			}
		],
		"presets": [
			{
				"name": "Welcome Section"
			}
		]
    }
{% endschema %}