<!-- section -->
        <div class="section pb-lg-5">
          <div class="container text-center">
            {% for block in section.blocks %}
             {% case block.type %}
              {% when 'heading' %}
                <header class="mb-4 pb-lg-1">
                  <h2 class="text-primary">{{ section.settings.heading }}</h2>
                </header>
              {% when 'text %}
                <div class="px-xl-4">
                  <p>Operating a number of thriving aquaculture businesses at a global scale, Sustainable Food Enterprises is on a mission to support the aquaculture sector through cutting-edge research and development.</p>
                  <p>Supported by over a decade of R&D history and underpinned by the knowledge of our industry-leading aquaculture team, Sustainable Food Enterprises has achieved numerous aquaculture breakthrough since inception, including the design and development of world-first aquaculture equipment and continuous success in drastically increasing shellfish survival rates within its worldwide farms and hatcheries.</p>
               {% when 'button' %}
                  <a href="#" class="btn btn-outline-primary">Find out more</a>
                </div>
             {% endcase %}
            {% endfor %}
          </div>
        </div>
<!-- /section -->



{% schema %}
    {
        "name": "Welcome",
		"tag": "section",
		"class": "section",
		"settings": [
			{
				"id": "demo",
				"type": "text",
				"label": "Demo Text"
			}
		],
		"blocks": [
			{
				"type": "heading",
				"name": "heading",
				"settings": [
					{
						"type": "text",
						"id": "heading",
						"label": "Heading"
					}
				]
			},
			{
				"type": "text",
				"name": "text",
				"settings": [
					{
						"type": "text",
						"id": "richtext",
						"label": "Text"
					}
				]
			},
			{
				"type": "buttons",
				"name": "button",
				"settings": [
					{
						"type": "text",
						"id": "button",
						"label": "Button Label"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Welcome Section",
				"blocks": [
					{
						"type": "heading"
					},
					{
						"type": "text"
					},
					{
						"type": "buttons"
					}
				]
			}
		]
    }
{% endschema %}